<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <title th:text="${character.characterName}"></title>
</head>
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div layout:fragment="content">
    <div style="display: flex">
        <span>
            <img class="portrait"
                 th:src="'https://images.evetech.net/characters/' + ${character.characterId} + '/portrait?size=128'"
                 alt="Portrait" style="width: 128px; height: 128px;"/>
        </span>
        <span>
            <h2 th:text="${character.characterName}"></h2>
            <div>
                 Proxy key: <span style="font-family: monospace" th:text="${character.proxyKey}"></span>
            </div>
            <div>
                Character ID: <span style="font-family: monospace" th:text="${character.characterId}"></span>
            </div>
            <div>
                Owner hash: <span style="font-family: monospace" th:text="${character.characterOwnerHash}"></span>
            </div>
            <div>
                <a th:href="'/esiproxy/login?characterId=' + ${character.characterId}">Reauth &raquo;</a>
            </div>
        </span>
    </div>

    <div>
        <h3>Example query</h3>
        <pre th:text="${exampleCurl}"></pre>
    </div>

    <div>
        <h3>Scopes</h3>
        <span th:text="${character.scopes.size()}"></span> scopes authorized:
        <ul>
            <li th:each="scope : ${character.scopes}">
                <span th:text="${scope}"></span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
