<!DOCTYPE html>
<html layout:decorate="~{layout}">
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div layout:fragment="content">
    <h2>Characters</h2>
    <p>
        <span th:text="${authedCharacters.size()}"></span> characters logged in.
        <a href="/esiproxy/login">Login &raquo;</a>
    </p>
    <ul>
        <li th:each="character : ${authedCharacters}" style="display: flex;">
            <img class="portrait"
                 th:src="'https://images.evetech.net/characters/' + ${character.characterId} + '/portrait?size=32'"
                 alt="Portrait" style="width: 32px; height: 32px;"/>
            <span style="align-content: center; margin-left: 0.5rem;">
                <a th:href="'/esiproxy/characters/'+${character.characterId}">
                    <span th:text="${character.characterName}"></span>
                </a>
                [<span th:text="${character.characterId}"></span>]
            </span>
        </li>
    </ul>
</div>
</body>
</html>
