<!DOCTYPE html>
<html>
<head>
    <title>EVE ESI Proxy</title>
    <style th:text="~{tailwind-preflight}"></style>
    <style th:text="~{styles}"></style>
</head>
<body>
<div>
    <header>
        <h1>EVE ESI Proxy</h1>
        <p>
            <a href="/esiproxy">&laquo; Home</a>
        </p>
    </header>

    <div class="container">
        <div layout:fragment="content"></div>
    </div>

    <footer>
        <p>
            Version:
            <span style="font-family: monospace" th:text="${proxyVersion}"></span>
        </p>
        <p>
        <div>
            <a href="https://everef.net/discord">Discord</a>
        </div>
        <div>
            <a href="https://patreon.com/everef">Patreon</a>
        </div>
        <div>
            <a href="https://github.com/autonomouslogic/eve-esi-proxy/">Github</a>
        </div>
        </p>
        <div>
            <img th:src="'data:image/webp;base64,' + ${evePartnerImageBase64}" alt="EVE Partner"
                 style="width: 400px; height: 168px;"/>
        </div>
    </footer>
</div>
</body>
</html>
