<!DOCTYPE html>
<html lang="en">
<head>
    <title>EVE ESI Proxy</title>
    <style th:text="~{tailwind-preflight.css}"></style>
    <style th:text="~{styles.css}"></style>
</head>
<body>
<div>
    <header style="display: flex">
        <span>
            <img th:src="'data:image/webp;base64,' + ${logoImageBase64}" alt="EVE Ref logo"
                 style="width: 128px; height: 128px; border-radius: 50%; margin-right: 1rem;"/>
        </span>
        <span>
            <span style="display: flex">
                <h1 style="margin-right: 0.5rem;">EVE ESI Proxy</h1>
                <span style="line-height: 4.25rem;">by
                    <a href="https://everef.net/">EVE Ref</a>
                </span>
            </span>
            <p>
                <a href="/esiproxy">&laquo; Home</a>
            </p>
        </span>
    </header>

    <div class="container">
        <div layout:fragment="content"></div>
    </div>

    <footer>
        <div>
            Version:
            <span style="font-family: monospace" th:text="${proxyVersion}"></span>
        </div>
        <div>
            <a href="https://everef.net/discord">Discord</a> |
            <a href="https://patreon.com/everef">Patreon</a> |
            <a href="https://github.com/autonomouslogic/eve-esi-proxy/">Github</a>
        </div>
        <div>
            <img th:src="'data:image/webp;base64,' + ${evePartnerImageBase64}" alt="EVE Partner"
                 style="width: 400px; height: 168px;"/>
        </div>
    </footer>
</div>
</body>
</html>
