<!DOCTYPE html>
<html layout:decorate="~{layout}">
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div layout:fragment="content">
    <h2>Login</h2>
    <form method="post" action="login/redirect">
        <input th:if="${character.isPresent()}" type="hidden" name="characterId" th:value="${character.get().characterId}" />

        <button type="submit" style="border: 1px solid blue; background-color: #00475d; padding: 0.5rem;">Login</button>

        <p id="many-scopes-error" style="color: red;">Selecting many scopes can cause problems with login</p>

        <p>Select scopes to log in with</p>

        <div>
            <span th:replace="scopebox :: scopeBox('scope-publicData', 'publicData', 'publicData', true, true)"></span>
        </div>

        <span th:each="scopeEntry : ${scopeGroups}">

            <fieldset style="border: 1px solid #444; padding: 1rem;">
                <legend th:text="${scopeEntry.key}" style="padding: 0.0rem 0.5rem;"></legend>

                <div>
                    <span th:replace="scopebox :: scopeBox('scope-' + ${scopeEntry.key} + '-all', null, 'All ' + ${scopeEntry.key}, false, false)"></span>
                </div>

                <div>
                    <span th:each="scope : ${scopeEntry.value}">
                        <span th:replace="scopebox :: scopeBox('scope-' + ${scope}, ${scope}, ${scope}, ${currentScopes.contains(scope)}, false)"></span>
                    </span>
                </div>
            </fieldset>

        </span>
    </form>
</div>
</body>
</html>
