body {
    background-color: #09080a;
    color: #d1d5db;
}

header {
    background-color: #1f2937;
}

header, .container, footer {
    padding: 3rem 1rem;
}

a {
    color: #f77e16;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: bold;
    margin-bottom: .375rem;
    margin-top: .375rem;
}

h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: bold;
    margin-bottom: .375rem;
    margin-top: .375rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    margin-bottom: .375rem;
    margin-top: .375rem;
}

footer {
}

p, ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

ul {
    margin-left: 1rem;
    list-style-type: circle;
}

.character-list {
}
.character-list .character {
}
.character-list .character .portrait {
    display: inline-block;
}
.character-list .character .portrait {
    display: inline-block;
}
