name: Check ESI Spec
on:
  schedule:
    - cron: "30 12 * * *"
jobs:
  Check:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install jq
        run: sudo apt install -y jq

      - name: Update
        run: make update-esi-spec

      - name: Commit
        run: |
          if [[ `git status --porcelain` ]]; then
            ./.github/notify-discord.sh ${{ secrets.DEV_NOTICES_DISCORD_WEBHOOK_URL }} "ESI spec needs to be updated on EVE ESI Proxy"
          fi
